<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" >
        <title>Travel Planner</title>
    </head>
    <body>
        <div class="container">
            <div id="header">Travel Planner</div>
            <form class="form">
                <label for="destination">Destination : </label><br>
                <input id="destination" placeholder="Enter your destination i.e. Paris ..." required><span id="errMsg"></span><br><br>
                <label for="departureDate">Departing : </label>
                <input type="date" id="departureDate">
                <button id="search" type="button">Take Me Away</button>
            </form>
            <div id="entryHolder">
                <span id=city></span>
                <div class="output" id="country"></div>
                <div class="output" id="daysTilDepart"></div>
                <div class="output" id="city_lat"></div>
                <div class="output" id="city_lng"></div>
                <div class="output" id="lo_temp"></div>
                <div class="output" id="hi_temp"></div>
                <div class="output" id="forecast"></div>
                <img src="" id="image" alt="Sorry, an image is not available" />
            </div>
        </div>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('../../sw.js');
              });
            };
        </script>
        <script></script>
    </body>
</html>