/* * {
    border: 1px red solid;
} */

// Google fonts
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Raleway");

.container {
    display: grid;
    gap: 10px;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
                        "head"
                        "srch"
                        "itin";
}
