.itinerary {
    grid-area: itin;
    padding: 10px 5px;  
    background-color: lightblue;
    font-family: Raleway;
}

.tripContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
 }

img {
    height: 100%;
    width: 75%;
}

button {
    height: 36px;
    width: 105px;
    background-color: lightgrey;
    border: 2px solid darkgrey;
    font-family: Raleway;
    margin-left: 5px;
}

#pic {
    width: 290px;
    text-align: center;
}

.subItems {
    width: 15vw;
}

#forecast, #lo_temp, #hi_temp {
    text-align: right;
}

#action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 252px;
    margin-top: 10px;
}

#detail {
    margin-left: 10px;
    width: 355px;
    font-size: 130%;
}

/* @media (max-width: 980px){
    .tripContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #action {
        width: 100%;
        justify-content: center;
    }
} */

