.search {
    grid-area: srch;
    //padding: 10px 5px;
    padding: 1vh .5vw;
    font-family: Raleway;
    background-color: lightgrey;
}

.err {
    font-family: Raleway;
    color: red;
    margin-left: 1vw;
}

#search {
    //height: 5vh;
    //width: 7vw;
    height: 36px;
    width: 105px;
    background-color: lightblue;
    justify-self: end;
    border: 2px solid darkgrey;
    font-family: Raleway;
}

#cityInput {
    margin-bottom: 2vh;
    display:flex;
    flex-direction: row;
    justify-content: start;
}

#departureDate, #destination {
    //width: 22vw;
    //width: 250px;
    //height: 21px;
    width: 290px;
    height: 24px;
    margin-left: 10px;
    font-size: 115%;
}

#tripDate {
    margin-left: 10px;
}

#dateInput {
    margin-bottom: 10px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

#searchBtn {
    //width: 14vw;
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

input:invalid:required {
    border: 2px solid red;
}

label {
    //width: 9vw;
    //height: 3vh;
    width: 105px;
    height: 21px;
    text-align: right;
    margin-left: 10px;
    font-size: large;
}

input {
    height: 3vh;
    font-family: Raleway;
    font-size: medium;
}


@media (max-width: 980px){
    #cityInput {
        margin-bottom: 10px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 75px;
    }

    #dateInput {
        margin-bottom: 10px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 75px;
    }

    #searchBtn {
        width: 115px;
    }

    label {
        text-align: left;
    } 

}